@model Bibliotek.Models.Author

@{
    ViewData["Title"] = "Delete";
}

<div class="table-title">
    <div class="row">
        <h2 class="table-title-h2">Radera Författare</h2>
        <h4 class="table-title-h2">Är du säker på att du vill radera denna författaren?</h4>
    </div>
</div>
<br />
<div class="alert alert-danger" role="alert">
    <p><strong>OBS!</strong> Om du raderar författaren kommer även alla böcker och lån som är kopplade till denna författare att raderas!</p>
</div>
<div>
    <p>
        <strong>
            @Html.DisplayNameFor(model => model.FirstName):
        </strong>
        @Html.DisplayFor(model => model.FirstName)
        <br />
        <strong>
            @Html.DisplayNameFor(model => model.LastName):
        </strong>
        @Html.DisplayFor(model => model.LastName)
    </p>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <a asp-action="Index" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Tillbaka</a>
        <button type="submit" value="Delete" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Radera</button>
    </form>
</div>
