@model IEnumerable<Bibliotek.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<div class="table-title">
    <div class="row">
        <h2 style="margin: 15px;">Författare</h2>
    </div>
</div>
<div class="table-filter container">
    <a asp-action="Create" class="btn btn-success"><i class="glyphicon glyphicon-book"></i> Lägg till</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
}
    </tbody>
</table>
