@model Bibliotek.Models.Book

@{
    ViewData["Title"] = "Create";
}

<div class="table-title">
    <div class="row">
        <h2 class="table-title-h2">Lägg till bok</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <select asp-for="Author.ID" asp-items="ViewBag.Authors" class="form-control"></select>
            </div>
            @if ((string)TempData["Fail"] == "Fail")
            {
                <div class="alert alert-danger" role="alert">
                    <p><strong>Nu blev det fel!</strong>En författare måste väljas!!</p>
                </div>
            }
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Tillbaka</a>
                <button type="submit" value="Skapa" class="btn btn-success"><i class="glyphicon glyphicon-saved"></i> Skapa</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
